.vss-combobox {
    .combo {
        width: inherit;
        background-color: #fff;
        border: 1px solid #dadada;
        padding: 0 8px;
        height: 30px;

        input {
            padding: 0 8px;
        }

        .drop {
            font-family: FabricMDL2Icons;
            top: 0;
            bottom: 0;
            padding-top: 8px;
            width: 25px;
            transform: none;
            padding-left: 10px;
            font-size: 12px;
            
            &::before {
                content: "\E70D";
            }
        }
    }

    .input-error {
        margin-top: 5px;
    }
}