.filter-input {
    width: 300px;

    .clear-filter-input {
        color: #666666;
        cursor: pointer;
        height: 30px;
        align-items: center;
        display: flex;
        padding: 0 8px;
    }
}